* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
}

.container {
    width: 400px;
    height: 450px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    color: cornflowerblue;
}

.container>p {
    font-size: 35px;
}

h1 {
    margin-bottom: 2rem; 
}

ul {
    border: 2px solid coral;
}

